/** 
*@author isa 
*/
/* je defini que mon script va s integrer dans le fichier layout.twig grace a extends*/
{% extends 'layout.twig' %}
/* je defini lendroit ou va sinserer mon script html avec block body*/
            /* ici je rentre ce que je veux inserer */
{% block body %}

    <header>
    <!-- navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img src="/images/logo_cinebamo.png" alt="logo de l'entreprise Cinebamo" width="50px" height="50px">
            <a class="navbar-brand" href="#"></i>CineBat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li id="categs" class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégories
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Science Fiction</a>
                    <a class="dropdown-item" href="#">Thriller</a>
                    <a class="dropdown-item" href="#">Horreur</a>
                    <a class="dropdown-item" href="#">Comédie</a>
                    <a class="dropdown-item" href="#">Enfant</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Suggestions</a>
                  </div>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Titre du film ou acteurs" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Rechercher</button>
              </form>
            </div>
          </nav>
    </header>
<main class="d-flex flex-column"></main>
<!-- pour la présentation rapide du site -->
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading text-danger">Voici le film recherché:</h1>
          <p class="lead text-muted">Consultez les commentaires des internautes et
              partagez votre avis avec les autres membres.
          </p>
          <p>
            <a href="#" class="btn btn-outline-danger my-2">S'inscrire</a>
            <a href="#" class="btn btn-secondary btn-outline-danger my-2">Se connecter</a>
          </p>
          <h2 class="lead text-danger">Cinebamo, l'appli qu'il vous faut! </h2>
          <p class="lead text-muted">Retrouvez nos services sur l'application mobile Cinebamo, 
              pour être toujours informé des dernières sorties cinématographiques.
        </p>
        <p><a href="#" class="btn btn-outline-danger my-2">Télécharger l'appliMobile</a></p>
        </div>

    </section>
<!-- modele de carte pour faire apparaitre les sorties de la semaine -->
    <section id="one-movie" class="bg-grad-bkw">
            <div class="jumbotron jumbotron-fluid bg-sand col-12">
                    <div class="container col-12">
                        <h1 class="display-4 col-12 align">Le retour de la Vagrant</h1>
                        <video class="bd-placeholder-img card-img-top" width="100" height="225" controls="controls" poster="images/.png"  allowfullscreen >
                            <source src="" type="video/mp4" />
                            <source src="e.webm" type="video/webm" />
                            <source src="e.ogv" type="video/ogg" />
                            Ici l'alternative à la vidéo :
                        </video>
                    </div>
                </div>
                <div class="container space-in col-12">
                    <h2 class="blog-post-title">Synopsis:</h2>
                    <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum."<br/>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum."
                    </p>
                </div>
            
           
                <div class="container space-in bg-sand col-12">
                    <h4 class="blog-post-title">Vos derniers avis:</h4>
                    <p class="blog-post-meta">April 13, 2019 by <a href="#" class="text-danger">Georges</a></p>
                    <h4>un film génial, j'adore créer des vagrants!!!</h4>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo consequat."
                    </p>
                </div>
          
        </section>
<!-- pour le login -->
<section id="login" class="bg-grad-bkw">
        <form class="form-group">
                <fieldset>
                        <legend class="text-white">Laisser votre commentaire:</legend>
                <div class="form-group mb-2 pl-1">
                  <label for="inputEmail" class="sr-only">Email</label>
                  <input type="text" class="form-control" id="inputEmail" value="email@example.com" placeholder="Email">
                </div>
                <div class="form-group mb-2 pl-1">
                  <label for="inputPassword2" class="sr-only">Mot de passe</label>
                  <input type="password" class="form-control" id="inputPassword2" placeholder="Mot de passe">
                </div>
                <div class="form-group d-flex justify-content-left pl-1">
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea id="comment" name="comment" class="form-control space-around col-12" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your comment"></textarea>
                    </div>
                <div class="form-group mb-2 pl-1">
                <button type="submit" class="btn btn-outline-danger">Commenter</button>
            </div>
            </form>
            </section>
        </fieldset>
    </form>
<!-- pour l'inscription -->
<section id="subscrib" class="bg-grad-bkw">
    <h3 class="text-white">Vous devez avoir un compte pour donner votre avis<br />Pour vous inscrire, veuillez compléter le formulaire ci-après:</h3>
    <form><div class="form-group">
            <label for="inputName">Nom:</label>
            <input type="text" class="form-control" id="inputName" placeholder="Baptiste">
          </div>
          <div class="form-group">
            <label for="inputFirstname">Prénom:</label>
            <input type="text" class="form-control" id="inputFirstname" placeholder="Moreau">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputAge">Age:</label>
              <input type="text" class="form-control" id="inputAge" placeholder="Majeur">
            </div>
          </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email:</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email@cinebamo.fr">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password:</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="*****">
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              News letter
            </label>
          </div>
        </div>
        <button type="submit" class="btn  btn-outline-danger">M'inscrire</button>
      </form>
    </section>
</main>
<footer class="text-center">
        <small class="text-muted"><a href="./cgu.twig" class="text-danger">Mention légales</a></small>
        <small class="text-muted">Copy Right 2019 &copy; Les BBcodeurs</small>
</footer>

<script src="/javascript/app.js"></script>
{% endblock %}
        /* je defini lendroit ou va sarreter mon script html avec endblock */