/** *@author isa */ /* je defini que mon script va s integrer dans le fichier layout.twig grace a extends*/
{% extends 'layout.twig' %}
/* je defini lendroit ou va sinserer mon script html avec block body*/ /* ici je rentre ce que je veux inserer */
{% block body %}

<main class="d-flex flex-column">
  <!-- modele de carte pour faire apparaitre les sorties de la semaine -->
  <section id="new-movie">
    <div class="album py-5 bg-light bg-grad-bkw">
      <div class="container">
        <div class="row" id="cardRow">
          <div class="col-md-4" id="card_original" style="display:none">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" height="225" src="https://m.media-amazon.com/images/M/MV5BNzk1OGU2NmMtNTdhZC00NjdlLWE5YTMtZTQ0MGExZTQzOGQyXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg"
                width="100" />
              <div class="card-body">
                <a class="text-danger" href="#">
                  <h3>Title
                    <span class="badge badge-secondary">New</span>
                  </h3>
                </a>
                <div class="Div_cardScore"> 
                </div>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-danger" type="button">Voir</button>
                  </div>
                  <small class="text-muted">date</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- pour la pub -->
  <section>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe allowfullscreen="allowfullscreen" class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
    </div>
  </section>
</main>

{% endblock %}
/* je defini lendroit ou va sarreter mon script html avec endblock */