/** *@author isa */ /* je defini que mon script va s integrer dans le fichier layout.twig grace a extends*/
{% extends 'layout.twig' %}
/* je defini lendroit ou va sinserer mon script html avec block body*/ /* ici je rentre ce que je veux inserer */
{% block body %}

<main class="d-flex flex-column">
{# <!-- pour la présentation rapide du site --> #}
<section class="jumbotron text-center">
  <div class="container">
    <h1 id="HomePage_Welcome" class="jumbotron-heading text-danger">Bienvenue </h1>
    <p class="lead text-muted">Recherchez votre film depuis notre menu de navigation ou consultez les sorties de la
      semaine ci-dessous.</p>
      <p id="connect" class="lead text-muted">Inscrivez-vous ou connectez-vous pour laisser vos commentaires et notations.
    </p>
    <p>
      <a href="#" id="btnSubscribe" class="btn btn-outline-danger my-2">S'inscrire</a>
      <a href="#" id="btnLogin" class="btn btn-secondary btn-outline-danger my-2">Se connecter</a>
    </p>
    {# <!-- pour le login --> #}
    <section id="loginSection" class="bg-grad-bkw" style="display:none;">
      <form id="loginForm" class="form-inline">
        <div class="form-group mb-2 pl-1">
          <label for="inputEmail" class="sr-only">Email</label>
          <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group mb-2 pl-1">
          <label for="inputPassword2" class="sr-only">Mot de passe</label>
          <input name="password" type="password" class="form-control" id="inputPassword2" placeholder="Mot de passe">
        </div>
        <div class="form-group mb-2 pl-1">
          <button type="submit" id="login" class="btn btn-outline-danger" >Me connecter</button>
        </div>
        <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </form>
    </section>
    {# pour afficher le profil #}
    <div id="profil" class="modal" tabindex="-1" role="dialog" style="display:none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Mon profil</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
            <form id="profileForm">
              <div class="form-group">
                <label for="inputName">Nom:</label>
                <input type="text" class="form-control" id="inputName" name="name" placeholder="Moreau">
              </div>
              <div class="form-group">
                <label for="inputFirstname">Prénom:</label>
                <input type="text" class="form-control" id="inputFirstname" name="firstname"placeholder="Baptiste">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputAge">Age:</label>
                  <input type="text" class="form-control" id="inputAge" name="age" placeholder="Majeur">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email:</label>
                  <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email@cinebamo.fr">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Password:</label>
                  <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="*****">
                </div>
              </div>
            </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
              <button id="btnModify" type="button" class="btn btn-outline-danger">Modifier mon compte</button>
              <button id="btnDelete" type="button" class="btn btn-outline-danger">Supprimer mon compte</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      {# <!-- pour l'inscription --> #}
      <section id="subscribSection" class="bg-grad-bkw" style="display:none;">
        <h3 class="text-white">Pour vous inscrire, veuillez compléter le formulaire ci-après:</h3>
        <button type="button" class="close ml-auto text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <form id="suscribForm">
          <div class="form-group">
            <label for="name">Nom:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Moreau">
          </div>
          <div class="form-group">
            <label for="firstname">Prénom:</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Baptiste">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="age">Age:</label>
              <input type="text" class="form-control" id="age" name="age" placeholder="Majeur">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Email@cinebamo.fr">
            </div>
            <div class="form-group col-md-6">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="*****">
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                News letter
              </label>
            </div>
          </div>
          <button type="submit" id="subscribe" class="btn btn-outline-danger">M'inscrire</button>
        </form>
      </section>
      {# texte accueil pub appliCine #}
      <h2 class="lead text-danger">Cinebamo, l'appli qu'il vous faut! </h2>
      <p class="lead text-muted">Retrouvez nos services sur l'application mobile Cinebamo,
        pour être toujours informé des dernières sorties cinématographiques.
      </p>
      <p><a href="#" class="btn btn-outline-danger my-2">Télécharger l'appliMobile</a></p>
    

    
  </div>

</section>
<!-- modele de carte pour faire apparaitre les sorties de la semaine -->
<section id="new-movie">
  <div class="album py-5 bg-light bg-grad-bkw">
    <div class="container">

                <div class="row" id="cardRow">
                    <div class="col-md-4" id="card_original" style="display:none">
                        <div class="card mb-4 shadow-sm">
                            <video class="bd-placeholder-img card-img-top" width="100" height="225" controls="controls" poster="images/.png">
                                <source src="" type="video/mp4"/>
                                <source src="e.webm" type="video/webm"/>
                                <source src="e.ogv" type="video/ogg"/>
                                Ici l'alternative à la vidéo : .
                            </video>
                            <div class="card-body">
                                <a href="#" class="text-danger">
                                    <h3>Title
                                        <span class="badge badge-secondary">New</span></h3>
                                </a>
                                <div class="Div_cardScore">
                                <!--    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i> -->
                                </div>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-danger">Voir</button>
                                    <!--    <button type="button" class="btn btn-sm btn-outline-danger">Commenter</button> -->
                                    </div>
                                    <small class="text-muted">date</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- pour la pub -->
                <section>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </section>

</main>

{% endblock %}
/* je defini lendroit ou va sarreter mon script html avec endblock */