{% extends 'layout.twig' %}

{% block body %}
    <header>
        <select id="categs">
            <option value="" selected>Selectionnez</option>
            <option value="fiction">Science Fiction</option>
            <option value="comedy">Comedie</option>
            <option value="child">Enfant</option>
            <option value="child">horror</option>
        </select>
    </header>

    <div id="home" class="page"></div>
    <div id="movies" class="page"></div>
    <div id="movie" class="page"></div>

<script src="/javascript/app.js"></script>
{% endblock %}
