<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/home.css' />
  <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">
  <link rel="icon" href="/images/logo_cinebamo.png" type="image" sizes="32x32">
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img src="/images/logo_cinebamo.png" alt="logo de l'entreprise Cinebamo" width="50px" height="50px">
      <a class="navbar-brand" href="#"></i>CineBat</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span></a>
          </li>
          <li id="userLog" class="nav-item dropdown" style="display:none;">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a id="userProfil" class="dropdown-item" href="#profil">Voir mon profil</a>
              <a id="userDisconect" class="dropdown-item" href="#">Me déconnecter</a>
            </div>

          </li>
          <li id="" class="nav-item dropdown">
            <select id="categs" class="custom-select mr-2">
              <option value="" selected="selected">Categories</option>
              <option value="ACTION">Action</option>
              <option value="COMEDY">Comédie</option>
              <option value="CRIME">Crime</option>
              <option value="DRAME">Horreur</option>
              <option value="ROMANCE">Romance</option>
              <option value="SCI-FI">Science-Fiction</option>
            </select>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" id="searchForm" method="get">
          <input id="Search_title_actor" class="form-control mr-sm-2" type="search" value="" placeholder="Titre du film ou acteurs"
            aria-label="Search">
          <button id="button_search" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
      </div>
    </nav>
  </header>
  {#
  <!-- pour la présentation rapide du site --> #}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading text-danger" id="HomePage_Welcome">Bienvenue
      </h1>
      <p class="lead text-muted">Recherchez votre film depuis notre menu de navigation ou consultez les sorties de la
        semaine ci-dessous.</p>
      <p class="lead text-muted" id="connect">Inscrivez-vous ou connectez-vous pour laisser vos commentaires et
        notations.
      </p>
      <p>
        <a class="btn btn-outline-danger my-2" href="#" id="btnSubscribe">S'inscrire</a>
        <a class="btn btn-secondary btn-outline-danger my-2" href="#" id="btnLogin">Se connecter</a>
      </p>
      {#
      <!-- pour le login --> #}
      <section id="loginSection" class="bg-grad-bkw" style="display:none;">
        <form id="loginForm" class="form-inline">
          <div class="form-group mb-2 pl-1">
            <label for="inputEmail" class="sr-only">Email</label>
            <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
          </div>
          <div class="form-group mb-2 pl-1">
            <label for="inputPassword2" class="sr-only">Mot de passe</label>
            <input name="password" type="password" class="form-control" id="inputPassword2" placeholder="Mot de passe">
          </div>
          <div class="form-group mb-2 pl-1">
            <button type="submit" id="login" class="btn btn-outline-danger">Me connecter</button>
          </div>
          <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </form>
      </section>
      {# pour afficher le profil #}
      <div id="profil" class="modal" tabindex="-1" role="dialog" style="display:none;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Mon profil</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form id="profileForm">
                <div class="form-group">
                  <label for="inputName">Nom:</label>
                  <input type="text" class="form-control" id="inputName" name="name" placeholder="Moreau">
                </div>
                <div class="form-group">
                  <label for="inputFirstname">Prénom:</label>
                  <input type="text" class="form-control" id="inputFirstname" name="firstname" placeholder="Baptiste">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputAge">Age:</label>
                    <input type="text" class="form-control" id="inputAge" name="age" placeholder="Majeur">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Email:</label>
                    <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email@cinebamo.fr">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Password:</label>
                    <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="*****">
                  </div>
                </div>
              </form>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                <button id="btnModify" type="button" class="btn btn-outline-danger">Modifier mon compte</button>
                <button id="btnDelete" type="button" class="btn btn-outline-danger">Supprimer mon compte</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {#
      <!-- pour l'inscription --> #}
      <section id="subscribSection" class="bg-grad-bkw" style="display:none;">
        <h3 class="text-white">Pour vous inscrire, veuillez compléter le formulaire ci-après:</h3>
        <button type="button" class="close ml-auto text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <form id="suscribForm">
          <div class="form-group">
            <label for="name">Nom:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Moreau">
          </div>
          <div class="form-group">
            <label for="firstname">Prénom:</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Baptiste">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="age">Age:</label>
              <input type="text" class="form-control" id="age" name="age" placeholder="Majeur">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Email@cinebamo.fr">
            </div>
            <div class="form-group col-md-6">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="*****">
            </div>
          </div>
          <button type="submit" id="subscribe" class="btn btn-outline-danger">M'inscrire</button>
        </form>
      </section>
      {# texte accueil pub appliCine #}
      <h2 class="lead text-danger"> Cinebamo, l'appli qu'il vous faut!
      </h2>
      <p class="lead text-muted">Retrouvez nos services sur l'application mobile Cinebamo,
        pour être toujours informé des dernières sorties cinématographiques.
      </p>
      <p>
        <a class="btn btn-outline-danger my-2" href="#">Télécharger l'appliMobile</a>
      </p>
    </div>
  </section>
  {% block body %}{% endblock %}
  <footer class="text-center">
    <small class="text-muted">
      <a href="./cgu" class="text-danger">Mentions légales</a>
    </small>
    <small class="text-muted">Copy Right 2019 &copy; Les BBcodeurs</small>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/javascript/app.js"></script>
  <script src="/javascript/index.js"></script>
</body>

</html>