{% extends 'layout.twig' %}

{% block body %}
    <header>
        <select id="categs">
            <option value="" selected="selected">Selectionnez</option>
            <option value="action">Action</option>
            <option value="animation">Animation</option>
            <option value="aventure">Aventure</option>
            <option value="biographique">Biographique</option>
            <option value="catastrophe">Catastrophe</option>
            <option value="comedie">Comédie</option>
            <option value="catastrophe">Catastrophe</option>
            <option value="danse">Danse</option>
            <option value="epique">Epique</option>
            <option value="espionnage">Espionnage</option>
            <option value="fantastique">Fantastique</option>
            <option value="fantasy">Fantasy</option>
            <option value="guerre">Guerre</option>
            <option value="historique">Historique</option>
            <option value="horreur">Horreur</option>
            <option value="policier">Policier</option>
            <option value="road_movie">Road movie</option>
            <option value="romantique">Romantique</option>
            <option value="satirique">Satirique</option>
            <option value="science-fiction">Science-Fiction</option>
            <option value="survie">Survie</option>
            <option value="suspens">Suspens</option>
            <option value="thriller">Thriller</option>
            <option value="western">Western</option>
        </select>
    </header>

    <div id="home" class="page"></div>
    <div id="movies" class="page"></div>
    <div id="movie" class="page"></div>

    <script src="/javascript/app.js"></script>
{% endblock %}